# frontent url.
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# backend url
NEXT_PUBLIC_CMS_URL=http://127.0.0.1:8055

# backend ws url
NEXT_PUBLIC_CMS_WS_URL=ws://127.0.0.1:8055/websocket

# only server side has access to this token.
CMS_ADMIN_TOKEN=your-cms-admin-token

# google map Api key.
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-api-key

# used for client side form submit..
NEXT_PUBLIC_CMS_WEBAPI_TOKEN=you-cms-webapi-token

# this control nextjs revalidation (set cms-api.tsx)
API_CACHE_DISABLED=false

# change default locale, note: this will affect seo! currently 'th' and 'en' supported.
NEXT_PUBLIC_LOCALE_DEFAULT='th'

# Log level
NEXT_PUBLIC_ENVIRONMENT=development

GDX_AUTH_URL=https://api.egov.go.th/ws/auth/validate
PROFILE_ACCESS_API_URL=https://api.egov.go.th/ws/dga/czp/uat/v1/core/shield/data/deproc

CONSUMER_KEY=replace-me
CONSUMER_SECRET=replace-me
AGENT_ID=replace-me